<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat With Me</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body style="background-color: #E1F5FE">

<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ChatWithMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main class="mb-5 pb-5">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-lg-8 col-md-12 text-white py-4 mb-3 shadow-sm bg-primary">
                <h1 class="mb-0 text-center">{{ room_name }}</h1>
            </div>
            <div class="col-lg-8 col-md-12 px-0">
                <div class="form-group">
                    <ul class="p-2 border border-3 rounded-3 bg-light" id="message-list"
                        style="height: 400px;list-style-type: none;"></ul>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <input id="message" type="text" class="form-control form-control-lg mt-2 w-50"
                           placeholder="write some thing" />
                        <button id="send_text" class="btn btn-dark btn-sm w-25 py-2">send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="position-fixed bottom-0 bg-info text-white py-2 w-100 mt-5">
    <p class="text-center p-0 m-0">reserve on 2021 &copy; by shahriyar tarnasi</p>
</footer>

{{ room_name|json_script:"room-name" }}
{{ username|json_script:"username" }}
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>

